@media (max-width: 1025px) {
  /* header  */
  header {
    padding: 26px 32px;
  }
  /* section2  */
  .section2cards{
    margin-block: calc(120 / 1025 * 100%);
    margin-left: calc(32 / 1025 * 100%);
 }
 .page2section{
  padding-inline: 32px;
 }
 .page2figures{
  grid-template-columns: 1fr 1fr ;
 }
 .none1025 {
  display: none;
 }
 .page3section{
  padding-inline: 32px;
 }
 /* footer  */
 footer{
  padding-inline: 32px
 }
  }


@media (max-width: 900px) {
  .none {
    display: block;
  }

  .headerNav {
    position: fixed;
    top: 96px;
    left: -100%;
    display: flex;
    width: 240px;
    background-color: #b53b1b;
    padding: 25px 143px 125px 20px;
  }
  .header_ul {
    flex-direction: column;
    row-gap: 26px;
  }
  .logotext {
flex-direction: column;
  }
h6 {
  display: none;
}
.arrow {
  display: block;
}
.headernavlastdiv {
column-gap: 8px;
}
.noneh2{
display: none;
}
.mapandcontactdiv{
  flex-direction: row;
  column-gap: 72px;
justify-content: center;
align-items: center;
}
.contactcontaner{
  flex-direction: row;
  align-items: center;
  justify-content: center;
  row-gap: 40px
  ;
}
}
