@media (max-width: 481px) {
  /* header */
  header {
    padding-inline: 20px;
  }
  /* section1  */
  .page1section {
    height: 304 px;
  }
  .section1p {
    font-size: 32px;
  }
  /* section2 */
  .section2 {
    padding: 64px 0 64px 20px;
  }
  .section2title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 32px;
  }
  .page3section {
    height: 560px;
  }
  .inputdiv {
    column-gap: 32px;
  }
  .contacttext2 {
    font-size: 32px;
  }
  .page3sec2{
    padding: 64px 24px;
  }
}

@media (max-width: 401px) {
  form {
    padding: 16px 20px;
  }
  .getintouch {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
  .inputdiv {
    flex-direction: column;
    row-gap: 24px;
  }
  .page3submitbutton {
    width: 100%;
  }
}
@media (max-width: 381px) {
  /* section1  */
  .section1p {
    font-size: 24px;
  }
}

@media (max-width: 321px) {
  /* header  */
  header {
    padding-inline: 8px;
  }
  .section1h2 {
    font-size: 24px;
  }
  .section2 {
    padding: 48px 0 48px 8px;
    .section2title {
      font-size: 24px;
      line-height: 32px;
    }
  }
  .page3sec2{
    padding: 48px 8px;
  }
  form{
    row-gap: 24px;
    height: 400px;
  }
  .twoinput {
    flex-direction: column;
    row-gap: 24px;
  }
  textarea{
    height: 96px;
    margin-top: 24px;
  }
  .page3submitbutton{
    margin-top: 24px;
  }
  .inputdiv{
    margin-bottom: 24px;
  }
  .contacttext2 {
    font-size: 24px;
  }
  .lastpagecontact {
    margin-block: 32px 48px;
    column-gap: 42px;
  }
  .lasticons{
    font-size: 48px;
  }
}
