/* font-family: "Inter", sans-serif; */
/* font-family: "Rubik", sans-serif; */
.container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding-top: 96px;
}
/* header  */
header {
  max-width: inherit;
  width: inherit;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 96px;
  padding: 26px 120px;
  background-color: #402101;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.arrow,
.none,
.none_ {
  display: none;
  font-size: 32px;
  color: #ffffff;
}
.arrow {
  font-size: 24px;
}
.header_ul {
  display: flex;
  column-gap: 60px;
}
.active,
.inactive {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  color: #ffffff;
}
.active {
  color: #d5906e;
}
a.active:hover{
  border: 2px solid #FFFFFF;
  border-radius: 25px;
}
a.inactive:hover{
  border: 2px solid #FFFFFF;
  border-radius: 25px;
}
.logotext {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.57px;
  color: #ffffff;
  display: flex;
  animation-name: shining;
  animation-duration: 2s;
  animation-timing-function: 1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
@keyframes shining{
  0%{text-shadow: 0 0 5px #FFFFFF, 0 0 25px #FFFFFF,0 0 75px #FFFFFF,0 0 100px #FFFFFF  ;}
  100%{text-shadow:0 0 100px #FFFFFF,0 0 75px #FFFFFF,0 0 25px #FFFFFF,0 0 5px #FFFFFF;}
}

.headerspan {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.57px;
  color: #d5906e;
}
.headerslastdiv {
  display: flex;
  column-gap: 16px;
  align-items: center;
}
h6 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: #ffffff;
}
.fa-cart-shopping {
  font-size: 24px;
  color: #ffffff;
}
/* section  */

.page1section {
  height: 560px;
  background-image: url(../images/cover1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
}
.sec1div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  row-gap: 48px;
}
.section1h2 {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #ffffff;
  text-shadow: 4 4 2 0px #581504;
}
.section1button {
  padding: 12px 45px;
  border-radius: 10px;
  border: 2px solid #b53b1b;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #b53b1b;
  transition: 0.5s;
}
button.section1button:hover{
  color: #402101e5;
text-shadow:  0 0 5px #ea904f,0 0 5px #ea904f,0 0 25px #ea904f, 0 0 50px #ea904f,0 0 75px #ea904f,0 0 5px #ea904f,0 0 100px #ea904f,0 0 150px #ea904f ;
transform: scale(1.5);
}
/* section2 */
.section2 {
  background-color: #ea904f;
  padding: 120px;
}
.section2title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #ffffff;
  margin-bottom: 40px;
}
.section2cards {
  display: flex;
  column-gap: 24px;
  overflow-x: scroll;
  scrollbar-width: none;
}
.sec2arts {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  flex: 1 0 282px;
}
.sec2imgsdiv {
  border-radius: 8px 8px 0 0;
}
.sec2imgsdiv img {
  width: 100%;
}
.section2cardsdiv {
  display: flex;
  justify-content: space-between;
}
h4 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #b53b1b;
  margin-block: 16px 37px;
}
.page1pricesP {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #b53b1b;
}
.cardsbutton {
  width: 64px;
  height: 32px;
  border-radius: 8px;
  border: none;
  background-color: #b53b1b;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
}
button.cardsbutton:hover{
  background-color:green;
  transform: scale(1.3);
}
i.forhover:hover{
  transform: scale(1.5);
}
/* footer  */
footer {
  display: flex;
  padding: 80px 120px;
  align-items: start;
  background-color: #402101;
  justify-content: space-between;
}
.footerteldiv,
.footermaildiv,
.footermapdiv {
  display: flex;
  column-gap: 16px;
}
.footernav1 {
  display: flex;
  flex-direction: column;
}
h3 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 16px;
}
.footerul {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 32px;
}
.footernav1text {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #ffffff;
}
.footericons {
  display: flex;
  column-gap: 24px;
}
.icons {
  font-size: 24px;
}
.footermaildiv {
  margin-block: 16px;
}
.contacttext {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #ffffff;
}
/* page2section */
.page2section {
  background-color: #ea904f;
  padding: 120px;
}
.section2div1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(72 / 1440 * 100%);
}
.page2H {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #ffffff;
}
.sortbutton {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
  padding: 8px 21px;
  border: 2px solid #b53b1b;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #402101;
}

.page2prices {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.page2figures img {
  width: 100%;
  border-radius: 8px 8px;
  height: 224px;
  object-fit: cover;
}
.page2figures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  row-gap: 40px;
}
.figdiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 8px;
}
div.figdiv:hover{
  transform: scale(1.1);
}
figcaption {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  font-family: "Inter", sans-serif;
  color: #b53b1b;
  margin-block: 16px 8px;
}
.page2pricep {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #402101;
}
.shoppingcart {
  font-size: 40px;
  color: #b53b1b;
}
i.shoppingcart:hover{
  color: green;
}
.allpagesdiv {
  display: flex;
  justify-content: center;
  margin-top: 72px;
  align-items: center;
}
.icon2 {
  padding: 20px;
  border: 2px solid #ffffff;
  font-size: 18px;
}
.first1 {
  background-color: #b53b1b;
}
.pagesdiv {
  padding: 17px;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
}
/* page3section */
.page3section {
  padding-left: 160px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 720px;
  background-image: url(../images/page3cover.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
form {
  width: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  background-color: #402101e5;
  padding: 24px 30px;
  border: 1px solid #ffffff;
}
.getintouch {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  color: #ffffff;
  margin-bottom: 40px;
}
.inputdiv {
  display: flex;
  flex-direction: column;
  column-gap: 60px;
  margin-bottom: 36px;
}
.twoinput {
  display: flex;
  justify-content: space-between;
  column-gap: calc(60 / 1140 * 100%);
  margin-top: calc(40 / 1440 * 100%);
  margin-bottom: 36px;
}
::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #ffffffc2;
}
input {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  padding-left: 8px;
}
textarea {
  resize: none;
  width: 100%;
  padding: 8px 0 0 8px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  background-color: transparent;
}
.page3submitbutton {
  border-radius: 10px;
  background-color: #ff543e;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  width: 147px;
  height: 56px;
  border: none;
  margin-top: 36px;
}
button.page3submitbutton:hover{
  background-color:green;
  color: #FFFFFF;
  border: 10px solid green;
}
.page2sec2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ea904f;
  padding: 120px 324px;
}
.contacttext2{
  font-family: "Inter", sans-serif;
font-size: 40px;
font-weight: 700;
line-height: 48px;
color: #FFFFFF;
align-items: center;
justify-content: center;
margin-bottom: 40px;
}
.page3infodiv{
  display: flex;
  align-items: center;
  column-gap: 13px;
  text-wrap: nowrap;
}
.mapandcontactdiv{
  display: flex;
  column-gap: 108px;
}
.lasticons{
  font-size: 48px;
  border-radius: 8px;
  border: 2px solid #FFFFFF;
  background-color: #B53B1B;
  padding: 16px;
}
.lastpagecontact {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
  color: #FFFFFF;
  
}
